{% extends "layout.html" %} 
{% block content %}
<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 425px;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
<div class="row jumbotron">
  <div class="col barbers">
    <h1 class="display-4">Invest In You</h1>
    <p class="lead">You're Not A Businessman. You're a Business, Man.</p>
    <form class="form-inline my-2 my-lg-0">
      {{ form.name(class_="form-control mr-sm-2", type="search", placeholder="Search by Name")}}

             {{ form.search(class_="btn btn-outline-dark my-2 my-sm-0", value="Search")}}
        <form>
              {{form.neighborhood(class_="drop-down")}}
        </form>

    </form>
    
  </div>
</div>
<div class="row">
  <div class="col-12">
    <hr class="my-4">
  </div>
</div>   
{{neighborhood.name}}
<div id="map"></div>
<script>
  let lat = '{{neighborhood.lat}}';
  lat = Number(lat);
  let lng = '{{neighborhood.long}}';
  console.log(lng)
  lng = Number(lng)
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: lat, lng: lng},
      zoom: 16
    }); 
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcY0UTtJowvHdCRNyF9xB-6E6U9Okd6Ww&callback=initMap"
async defer></script>
</body>
{% for barber in barbers %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <a href={{url_for('barbers', id=barber.id)}}>
        <img src="{{barber.portfolio_pic}}" class="card-img" alt="...">
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href={{url_for('barbers', id=barber.id)}}>{{barber.name}}</h5></a>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">{{barber.neighborhood}}</small></p>
      </div>
    </div>
  </div>
</div>

{% endfor %} 
{% endblock %}

