<!-- set up edit form as a template that extends the barber profile page -->
<!-- handle the actual edit functionality -->
<!-- add bootstrap to turn it into a modal -->
<!-- use javascript that turns the button into a modal trigger -->
{% extends "layout.html" %} 

{% block content %}

<h2>Edit Review</h2>
<div class='column1' >
    <form  method="POST" action="" novalidate>
      {{ form.hidden_tag() }} 
      <div class="field">
      {{ form.text.label(class_="label")}}
      {{ form.text(class_="input", placeholder=review.text, id="reviewText")}}
      
      </div>
      <div class="field">
      {{ form.rating.label(class_="label") }}
      {{ form.rating(class_="input", placeholder=review.rating, id="reviewRating")}}
      </div>
      {{ form.submit(class_="button") }}
    </form>
  </div>
<!-- <title>Edit Review - Fresh Database</title>
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
{% endblock %}