{% extends "layout.html" %}

  {% block content %}


    <form method="POST" action="" novalidate>
        <!-- this is a tag that is hidden to the user -->
      {{ form.hidden_tag() }} 

      <div class="field">
          <!-- outputting a label -->
        {{ form.barber.label(class_="label") }}
        <!-- outputting a barber -->
        {{ form.barber(class_="input") }}
      </div>

      <div class="field">
        <!-- outputting a label -->
      {{ form.user.label(class_="label") }}
      <!-- outputting a barber -->
      {{ form.user(class_="input") }}
      </div>


      <div class="field">
        <!-- outputting a label -->
      {{ form.text.label(class_="label") }}
      <!-- outputting a barber -->
      {{ form.text(class_="input") }}
      </div>

      <div class="field">
        <!-- outputting a label -->
      {{ form.rating.label(class_="label") }}
      <!-- outputting a barber -->
      {{ form.rating(class_="input") }}
      </div>

      {{ form.submit(class_="button") }}
    </form>


    <div>
        <h1>reviews</h1>

        {% for review in reviews %}
          <article class="message is-primary">
            <div class="message-header">
                <p>{{review.text}}</p>
                <p>{{review.rating}}</p>
            </div>
</article>
{% endfor %}

    </div>
    
{% endblock %}
